@page
@model DigitalNoticeBoard.Pages.Manage.NoticeAssignments.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Manage/ManageLayout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>NoticeAssignment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NoticeAssignment.Notice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NoticeAssignment.Notice.NoticeID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NoticeAssignment.NoticeDisplay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NoticeAssignment.NoticeDisplay.NoticeDisplayID)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="NoticeAssignment.NoticeAssignmentID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
