@page
@model DigitalNoticeBoard.Pages.Manage.NoticeAssignments.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Manage/ManageLayout.cshtml";
}

<h1>Edit</h1>

<h4>NoticeAssignment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NoticeAssignment.NoticeAssignmentID" />
            <div class="form-group">
                <label asp-for="NoticeAssignment.NoticeID" class="control-label"></label>
                <select asp-for="NoticeAssignment.NoticeID" class="form-control" asp-items="ViewBag.NoticeID"></select>
                <span asp-validation-for="NoticeAssignment.NoticeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoticeAssignment.NoticeDisplayID" class="control-label"></label>
                <select asp-for="NoticeAssignment.NoticeDisplayID" class="form-control" asp-items="ViewBag.NoticeDisplayID"></select>
                <span asp-validation-for="NoticeAssignment.NoticeDisplayID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
