@page
@model DigitalNoticeBoard.Pages.Manage.IndexModel
@{
    Layout = "~/Pages/Manage/ManageLayout.cshtml";
}

<div class="jumbotron">
    <h1 class="display-4">Welcome to the SMSHS Digital Notice Board</h1>
    <hr class="my-4">
</div>